.DS_Store
.env*
/node_modules/
.vscode/
*.log


# Ignore schema files
complete-git-history.sh
RLS_PERFORMANCE_FIXES.md
MIGRATION_IMPROVEMENTS.md
prev-schema.sql
combined_migrations.sql
migration_issues.txt
models.json
test-analyze-errors.md
REACT_ROUTER_V7_GUIDE.md
current_active_db/
trial.js
.vercel
TYPOGRAPHY.md
